{% extends "page.html" %}
{% block title %}About This site{% endblock %}

{% block content %}
<p>Jadedgamer is a website aggregator written by <a href="https://tyler.codes/">Tyler Rilling</a>.
  It grabs feeds from the most popular in the industry, allowing you to quickly digest the latest news.
  The feed list is currently currated and maintained by myself, with the ability to submit feeds within the coming soon.</p>

<h3>Server Software</h3>
<p>This site is written in Python, using the Django web framework. The site is built on a serverless architecture
  and hosted on various Amazon Web Services, primarily, Lambda and CloudFront.
  Statistics are collected using Mixpanel and Google Analytics.</p>

<h3>Feature Requests</h3>
<p>This site is in active development, with new features being added constantly.
  If there's a particular feature you'd like to see however, feel free to open an <a href="https://github.com/alifewellplayed/jadedgamer.com/issues">issue on Github</a>, or <a href="mailto:tyler@jadedgamer.com">email me</a>.</p>

<p>You can also follow along with it's development on my blog, <a href="https://alifewellplayed.com">A Life Well Played</a>.</p>
{% endblock %}
