{% spaceless %}
<header class="navbar navbar-dark bg-primary navbar-expand-md {{NavClass|default:'site-header'}}">
  <div class="{{ContainerClass|default:'container'}}">
    <a class="navbar-brand" href="/">
      <h2 class="h4 site-name d-inline-block">Jadedgamer</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-header-collapse" aria-controls="site-header-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="side-header-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'aggregator:AllFeeds' %}">Browse All Feeds</a>
            <a class="dropdown-item" href="{% url 'aggregator:FeedTagList' %}">Tags</a>
          </div>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'aggregator:AddFeed' %}">Submit Feed</a>
            <a class="dropdown-item" href="{% url 'news:AddNews' %}">New Post</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'coreExtend:AccountSettings' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'coreExtend:Logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'coreExtend:Login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</header>


{% if messages %}
<div class="container pt-4 messages">
  {% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endspaceless %}
