{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container my-5">

  {% if title %}
  <div class="mb-4"><h4 class="h6 title uppercase">{{ title }}</h4></div>
  {% endif %}

  <div class="row">
  {% for feed, latest_feeds in object_list %}
  <div class="col-md-4 site-feed">
    <h6 class="h5 title pb-2">{{ feed.title }} <small><a rel="nofollow" class="view-more" href="{{ feed.site_url }}">(View site)</a></small></h3>
    <ul class="list-unstyled list-feeditems">
      {% for item in latest_feeds %}
      <li class="small py-1"><a href="{{item.link}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if forloop.counter|divisibleby:3 %}<hr class="col-md-12 d-none d-md-block linebreak my-4" />{% endif %}

  {% endfor %}
  </div>

</div>
{% endblock %}
