{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <div class="well" id="site-list">
  			{% for letter, items in alphabetized.items %}
  				<h3 class="beta">{{ letter }}</h3>
  				<ul class="list-unstyled sites main">
  				{% for tag in items %}
  					<li class="site">
  						<em class="pull-right"></em>
  						<a href="/tags/{{ tag.slug }}">{{ tag.name }}</a>
  					</li>
  				{% endfor %}
  				</ul>
  			{% endfor %}
  		</div>
    </div>
  </div>
</div>
{% endblock %}
