{% extends "base.html" %}{% load i18n %}{% load core_tags %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <div id="avatar" class="text-center d-block mx-auto my-4">
          <img class="rounded-circle border" width="120" height="120" src="https://secure.gravatar.com/avatar/{{ user.username|email_hash }}?s=250&amp;d={{STATIC_URL}}img/gravatar.png">
      </div>
      <h2 class="text-center">{{ user.username }}</h2>
    </div>
    <div class="col-md-6">
    {% block content %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}
