.site-feed {
  .title {
    border-bottom: 1px solid darken($body-bg, 20%);
    .view-more {
      font-family: $font-family-sans-serif;
      font-size: 12px;
      color: darken($body-bg, 60%);
      font-style: italic;
    }
  }
}

.list-feeditems {
  a:visited {color: darken($body-bg, 50%); }
}

.uppercase {text-transform: uppercase;}
.title {
  font-family: $font-family-sans-serif;
  letter-spacing: .5px;
  font-weight: bold;
}

.datetime {
  color: darken($body-bg, 50%);
}
