.site-header {
  .navbar-brand {
    color: $white;
    .site-name {
      color: $white;
      &::after {
        content: '(beta)';
        font-size: 12px;
        opacity: .75;
        padding-left: 7px;
      }
    }
  }
}
