//Bootstrap

//Colors
$primary:       #66a470 !default;
//$secondary:   $gray-600 !default;
$body-bg:       #ededeb !default;
$body-color:    #66595c !default;

// Font settings
$font-family-sans-serif:  'jaf-bernino-sans',  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:       'ff-tisa-web-pro', serif, !default;

//headings
$headings-font-family: $font-family-serif !default;
$headings-color: $primary !default;

//FontAwesome
$fa-font-path: "../fonts" !default;
