{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container my-5">

  {% if breadcrumb %}
  <div class="mb-4"><h4 class="h6 title uppercase">{{ breadcrumb }}</h4></div>
  {% endif %}

  <div class="row">
  {% for feed, latest_feeds in object_list %}

  {% if feed.feed_display == 1 %}
  {% include "aggregator/feed/feed_with_thumbnails.html" %}
  {% else %}
  {% include "aggregator/feed/default.html" %}
  {% endif %}
  

  {% endfor %}
  </div>

</div>
{% endblock %}
